<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>

<body>

<section>

    <div class="container-fluid p-5 mt-3">
        <div class="row">

            <!-- Add Category Section -->
            <div class="col-md-4">
                <div class="card card-sh">

                    <div class="card-header text-center">
                        <p class="fs-4">Add Category</p>
                        <th:block th:if="${session.succMsg}">
                        <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        
                        <th:block th:if="${session.errorMsg}">
                        <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>

                    <div class="card-body">

                        <form action="/admin/saveCategory"
                              method="post"
                              enctype="multipart/form-data">

                            <!-- Category Name -->
                            <div class="mb-3">
                                <label>Enter Category</label>
                                <input type="text"
                                       name="name"
                                       class="form-control"
                                       required>
                            </div>

                            <!-- Status -->
                            <div class="mb-3">
                                <label>Status</label>

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="isActive"
                                           value="true"
                                           id="flexRadioDefault1"
                                           checked>
                                    <label class="form-check-label"
                                           for="flexRadioDefault1">
                                        Active
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="isActive"
                                           value="false"
                                           id="flexRadioDefault2">
                                    <label class="form-check-label"
                                           for="flexRadioDefault2">
                                        Inactive
                                    </label>
                                </div>

                            </div>

                            <!-- Image Upload -->
                            <div class="mb-3">
                                <label>Upload Image</label>
                                <input type="file"
                                       name="file"
                                       class="form-control">
                            </div>

                            <button type="submit"
                                    class="btn btn-primary col-md-12 mt-2">
                                Save
                            </button>

                        </form>

                    </div>
                </div>
            </div>

            <!-- Category Details Section -->
            <div class="col-md-8">
                <div class="card card-sh">

                    <div class="card-header text-center fs-4">
                        Category Details
                    </div>

                    <div class="card-body">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Sl No</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="cat,c:${category}">
                                    <th scope="row">[[${c.count}]]</th>
                                    <td>[[${cat.name}]]</td>
                                    <td>[[${cat.isActive}]]</td>
                                    <td><img th:src="@{'/img/category_img/'+${cat.imageName}}" width="60px" height="60px"></td>
                                    <td><a th:href="@{'/admin/loadEditCategory/' + ${cat.id}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square "></i> Edit</a>
                                    <a th:href="@{'/admin/deleteCategory/' + ${cat.id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

</body>
</html>
