<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
    <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="col-md-6">
                     <img src="/img/product_img/laptop.jpg" width="330%" height="400px">
                 </div>
             </div>
         </div>
    </div>
</section>
</body>
</html>